In [1]:
import pandas as pd
df=pd.read_excel(r"C:\Users\admin\Desktop\data\New folder\Order_data.xlsx")
df

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [2]:
grps=df.groupby("cust")
grps

In [3]:
grps.groups

{'Andrews': [6, 27, 39, 42], 'Gayatri': [3, 22, 29, 30, 36], 'Howard': [11, 28], 'Jai': [2, 7, 26, 40, 41], 'Jones': [0, 5, 9, 13, 15, 17, 24, 32], 'Kavita': [1, 19, 31, 34], 'Morgan': [10, 16, 33], 'Priya': [12, 18, 21], 'Smita': [14, 20, 23], 'Soniya': [4, 25, 35, 37], 'Thompson': [8, 38]}

In [4]:
list(grps)

[('Andrews',
      order no  OrderDate   Region     cust    Item  Units  Unit Cost   Total
  6         17 2019-04-18  Central  Andrews  Pencil     75       1.99  149.25
  27        38 2020-04-10  Central  Andrews  Pencil     66       1.99  131.34
  39        50 2020-10-31  Central  Andrews  Pencil     14       1.29   18.06
  42        53 2020-12-21  Central  Andrews  Marker     28       4.99  139.72),
 ('Gayatri',
      order no  OrderDate   Region     cust    Item  Units  Unit Cost   Total
  3         14 2019-02-26  Central  Gayatri     Pen     27      19.99  539.73
  22        33 2020-01-15  Central  Gayatri  Marker     46       8.99  413.54
  29        40 2020-05-14  Central  Gayatri  Pencil     53       1.29   68.37
  30        41 2020-05-31  Central  Gayatri  Marker     80       8.99  719.20
  36        47 2020-09-10  Central  Gayatri  Pencil      7       1.29    9.03),
 ('Howard',
      order no  OrderDate Region    cust    Item  Units  Unit Cost   Total
  11        22 2019-07-12   East  Howard  Marker     29       1.99   57.71
  28        39 2020-04-27   East  Howard     Pen     96       4.99  479.04),
 ('Jai',
      order no  OrderDate   Region cust     Item  Units  Unit Cost    Total
  2         13 2019-02-09  Central  Jai   Pencil     36       4.99   179.64
  7         18 2019-05-05  Central  Jai   Pencil     90       4.99   449.10
  26        37 2020-03-24  Central  Jai  Pen Set     50       4.99   249.50
  40        51 2020-11-17  Central  Jai   Marker     11       4.99    54.89
  41        52 2020-12-04  Central  Jai   Marker     94      19.99  1879.06),
 ('Jones',
      order no  OrderDate Region   cust     Item  Units  Unit Cost   Total
  0         11 2019-01-06   East  Jones   Pencil     95       1.99  189.05
  5         16 2019-04-01   East  Jones   Marker     60       4.99  299.40
  9         20 2019-06-08   East  Jones   Marker     60       8.99  539.40
  13        24 2019-08-15   East  Jones   Pencil     35       4.99  174.65
  15        26 2019-09-18   East  Jones  Pen Set     16      15.99  255.84
  17        28 2019-10-22   East  Jones      Pen     64       8.99  575.36
  24        35 2020-02-18   East  Jones   Marker      4       4.99   19.96
  32        43 2020-07-04   East  Jones  Pen Set     62       4.99  309.38),
 ('Kavita',
      order no  OrderDate   Region    cust     Item  Units  Unit Cost    Total
  1         12 2019-01-23  Central  Kavita   Marker     50      19.99   999.50
  19        30 2019-11-25  Central  Kavita  Pen Set     96       4.99   479.04
  31        42 2020-06-17  Central  Kavita     Desk      5     125.00   625.00
  34        45 2020-08-07  Central  Kavita  Pen Set     42      23.95  1005.90),
 ('Morgan',
      order no  OrderDate   Region    cust     Item  Units  Unit Cost   Total
  10        21 2019-06-25  Central  Morgan   Pencil     90       4.99  449.10
  16        27 2019-10-05  Central  Morgan   Marker     28       8.99  251.72
  33        44 2020-07-21  Central  Morgan  Pen Set     55      12.49  686.95),
 ('Priya',
      order no  OrderDate Region   cust     Item  Units  Unit Cost    Total
  12        23 2019-07-29   East  Priya   Marker     81      19.99  1619.19
  18        29 2019-11-08   East  Priya      Pen     15      19.99   299.85
  21        32 2019-12-29   East  Priya  Pen Set     74      15.99  1183.26),
 ('Smita',
      order no  OrderDate   Region   cust    Item  Units  Unit Cost    Total
  14        25 2019-09-01  Central  Smita    Desk      2     125.00   250.00
  20        31 2019-12-12  Central  Smita  Pencil     67       1.29    86.43
  23        34 2020-02-01  Central  Smita  Marker     87      15.00  1305.00),
 ('Soniya',
      order no  OrderDate Region    cust    Item  Units  Unit Cost   Total
  4         15 2019-03-15   West  Soniya  Pencil     56       2.99  167.44
  25        36 2020-03-07   West  Soniya  Marker      7      19.99  139.93
  35        46 2020-08-24   West  Soniya    Desk      3     275.00  825.00
  37        48 2020-09-27   West  Soniya     Pen     76       1.99  151.24),
 ('Thompson',
      order no  OrderDate Region      cust    Item  Units  Unit Cost    Total
  8         19 2019-05-22   West  Thompson  Pencil     32       1.99    63.68
  38        49 2020-10-14   West  Thompson  Marker     57      19.99  1139.43)]

In [5]:
grps["Total"].max()

cust
Andrews      149.25
Gayatri      719.20
Howard       479.04
Jai         1879.06
Jones        575.36
Kavita      1005.90
Morgan       686.95
Priya       1619.19
Smita       1305.00
Soniya       825.00
Thompson    1139.43
Name: Total, dtype: float64

In [6]:
grps.get_group("Jai")

    order no  OrderDate   Region cust     Item  Units  Unit Cost    Total
2         13 2019-02-09  Central  Jai   Pencil     36       4.99   179.64
7         18 2019-05-05  Central  Jai   Pencil     90       4.99   449.10
26        37 2020-03-24  Central  Jai  Pen Set     50       4.99   249.50
40        51 2020-11-17  Central  Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central  Jai   Marker     94      19.99  1879.06

In [7]:
grps["Total"].sum()

cust
Andrews      438.37
Gayatri     1749.87
Howard       536.75
Jai         2812.19
Jones       2363.04
Kavita      3109.44
Morgan      1387.77
Priya       3102.30
Smita       1641.43
Soniya      1283.61
Thompson    1203.11
Name: Total, dtype: float64

In [8]:
grps.get_group("Andrews")

    order no  OrderDate   Region     cust    Item  Units  Unit Cost   Total
6         17 2019-04-18  Central  Andrews  Pencil     75       1.99  149.25
27        38 2020-04-10  Central  Andrews  Pencil     66       1.99  131.34
39        50 2020-10-31  Central  Andrews  Pencil     14       1.29   18.06
42        53 2020-12-21  Central  Andrews  Marker     28       4.99  139.72

In [9]:
grps.get_group("Andrews")["Total"].max()

149.25

In [10]:
grps.get_group("Andrews")["Unit Cost"].max()

4.99